[submodule "LlaMa_Factory"]
	path = LlaMa_Factory
	url = https://bgithub.xyz/henrywch/LLaMA-Factory.git
[submodule "LLaVA"]
	path = LLaVA
	url = https://bgithub.xyz/henrywch/LLaVA.git
[submodule "LLaVA-NeXT"]
	path = LLaVA-NeXT
	url = https://bgithub.xyz/henrywch/LLaVA-NeXT.git
[submodule "Open_Compass"]
	path = Open_Compass
	url = https://bgithub.xyz/henrywch/opencompass.git
[submodule "VLM_Eval_Kit"]
	path = VLM_Eval_Kit
	url = https://github.com/henrywch/VLMEvalKit.git
